<div class="nav-container nav-container__sticky">
  <div class="top-bar"></div>
  <div class="nav">
    <div class="nav__user-info">
      <div class="nav__user-info--top">
        <span>{{session.currentUser.username}}</span>
      </div>
      <div class="nav__user-info--bottom">
        <span>{{session.currentUser.fan_level}}</span>
      </div>
    </div>
    <div class="nav__logo">
      <img class="header-logo-image" src="assets/images/winterhawks_logo.png">
    </div>
    <div class="nav__user-points">
      <div class="nav__user-points--top">
        Reward Pts
      </div>
      <div class="nav__user-points--bottom">
        {{session.currentUser.total_points}}
      </div>
    </div>
  </div>
</div>

<div class="landing__container push-down">
  <div {{action 'openRadio'}} {{bind-attr class=":landing__block radioPlaying:radio_active"}} id="radio_button">
    <img src="assets/images/radio.png" alt='radio'>
  </div>
  <div class="landing__block">
    <img src='assets/images/play.png' alt='crossed hockey sticks' {{action 'playGame' session.currentUser.current_picked_player_id}}>
  </div>
  <div class="landing__block">
    {{#link-to 'my-badges'}}<img src="assets/images/trophy.png" alt="trophy">{{/link-to}}
  </div>
  <div class="landing__block">
    <img src="assets/images/checkin.png" alt='barcode' {{action 'loyalFan' session.currentUser.current_game_id}}>
  </div>
  <div class="landing__block">
    {{#link-to 'reward-store'}}
      <img src="assets/images/reward.png" alt="medal">
    {{/link-to}}
  </div>
  <div class="landing__block">
    {{#link-to 'twitter'}}<img src="assets/images/tweet.png" alt="twitter bird">{{/link-to}}
  </div>
</div>

<div class="block__bottom">
  <img src="assets/images/team_stats_btn_lg.jpg" alt='bar graph' {{action 'openStats'}}>
  {{#if session.isAuthenticated}}
  <button {{action 'invalidateSession'}}>
   Sign Out
  </button>
{{/if}}
</div>

